
.idea/
*.iml
*.iws
*.ipr

target/
out/
*.class
*.jar



vereinsverwaltung.db-shm
vereinsverwaltung.db-wal


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db


.mvn/
mvnw
mvnw.cmd


node_modules/
npm-debug.log


*.tmp
*.log